
@{
	ViewBag.Title = "Maintain Document Charges";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<body>

		<div id="page-wrapper">

			<div class="container-fluid">

				<!-- Page Heading -->
				<div id="page-content-wrapper">
					<div class="container-fluid">
						<div class="row">
							<div class="col-lg-12" style="margin-bottom:100px">
								<div class="col-md-12" style="padding-top: 20px">
									<div id="monitoring">
										<h3><b>Document Charges</b></h3>
										<hr>
										<table class="table table-condensed">
											<thead>
												<tr id="listhead">
													<th>Document Name</th>
													<th>Regular Amount</th>
													<th>Express Amount</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>Cumulative GPA</td>
													<td>Php 150.00</td>
													<td>Php 300.00</td>
												</tr>
												<tr>
													<td>Enrollment</td>
													<td>Php 500.00</td>
													<td>Php 700.00</td>
												</tr>
												<tr>
													<td>Grading System</td>
													<td>Php 200.00</td>
													<td>Php 350.00</td>
												</tr>
												<tr>
													<td>Official Transcript of Records</td>
													<td>Php 100.00</td>
													<td>Php 300.00</td>
												</tr>
												<tr>
													<td>Trimestral Calendar</td>
													<td>Php 300.00</td>
													<td>Php 550.00</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
			<!-- /.row -->

		</div>
		<!-- /.container-fluid -->

	<!-- jQuery -->
	<script src="~/js/jquery.js"></script>

	<script type="text/javascript">
		jQuery(function ($) {
			$(document).ready(function () {
				$('.status').hide();
				$('#processing').show();
				$('#status').change(function () {
					$('.status').hide();
					$('#' + $(this).val()).show();
				})
			});
		});

	</script>
	<!-- Bootstrap Core JavaScript -->
	<script src="~/js/bootstrap.min.js"></script>


</body>