
@{
    ViewBag.Title = "Admin Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<body>
    <div id="page-wrapper">

        <div class="container-fluid">

            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        Home <small>Admin View</small>
                    </h1>
                    <ol class="breadcrumb">
                        <li class="active">
                            <i class="fa fa-dashboard"></i> Dashboard
                        </li>
                    </ol>
                </div>
            </div>
            <!-- /.row -->

            <div class="row" style="color:#00703c">
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-tasks fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">7</div>
                                    <div>New Tasks</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer" style="color:#00703c">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-shopping-cart fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">14</div>
                                    <div>New Transactions</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer" style="color:#00703c">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-user fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">62</div>
                                    <div>New Users</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer" style="color:#00703c">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-book fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">35</div>
                                    <div>Transaction Changes</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer" style="color:#00703c">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <!-- /.row -->
            <!-- /.row -->
            <div class="col-lg-4" style="margin-top:45px">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-th-list fa-fw"></i> Recent Processed Transactions</h3>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th>Tran #</th>
                                        <th>Date of T</th>
                                        <th>Due Date</th>
                                        <th>Amount</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>25 Nov 2016</td>
                                        <td>3 Dec 2016</td>
                                        <td>Php 150.00</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>24 Nov 2016</td>
                                        <td>29 Nov 2016</td>
                                        <td>Php 200.00</td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>16 Nov 2016</td>
                                        <td>19 Nov 2016</td>
                                        <td>Php 300.00</td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>25 Nov 2016</td>
                                        <td>12 Dec 2016</td>
                                        <td>Php 100.00</td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td>10 Nov 2016</td>
                                        <td>21 Nov 2016</td>
                                        <td>Php 100.00</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4" style="margin-top:45px">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-th-list fa-fw"></i> Recent Pending Transactions</h3>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th>Tran #</th>
                                        <th>Date of T</th>
                                        <th>Due Date</th>
                                        <th>Amount</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>25 Nov 2016</td>
                                        <td>3 Dec 2016</td>
                                        <td>Php 150.00</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>24 Nov 2016</td>
                                        <td>29 Nov 2016</td>
                                        <td>Php 200.00</td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>16 Nov 2016</td>
                                        <td>19 Nov 2016</td>
                                        <td>Php 300.00</td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>25 Nov 2016</td>
                                        <td>12 Dec 2016</td>
                                        <td>Php 100.00</td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td>10 Nov 2016</td>
                                        <td>21 Nov 2016</td>
                                        <td>Php 100.00</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4" style="margin-top:45px">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-th-list fa-fw"></i> Recent Completed Transactions</h3>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th>Tran #</th>
                                        <th>Date of T</th>
                                        <th>Due Date</th>
                                        <th>Amount</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>25 Nov 2016</td>
                                        <td>3 Dec 2016</td>
                                        <td>Php 150.00</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>24 Nov 2016</td>
                                        <td>29 Nov 2016</td>
                                        <td>Php 200.00</td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>16 Nov 2016</td>
                                        <td>19 Nov 2016</td>
                                        <td>Php 300.00</td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>25 Nov 2016</td>
                                        <td>12 Dec 2016</td>
                                        <td>Php 100.00</td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td>10 Nov 2016</td>
                                        <td>21 Nov 2016</td>
                                        <td>Php 100.00</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.row -->

        </div>
        <!-- /.container-fluid -->

    </div>

    <!-- jQuery -->
    <script src="~/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="~/js/bootstrap.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="~/js/plugins/morris/raphael.min.js"></script>
    <script src="~/js/plugins/morris/morris.min.js"></script>
    <script src="~/js/plugins/morris/morris-data.js"></script>

</body>