
@{
	ViewBag.Title = "Maintain Delivery Charges";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<body>

		<div id="page-wrapper">

			<div class="container-fluid">

				<!-- Page Heading -->
				<div id="page-content-wrapper">
					<div class="container-fluid">
						<div class="row">
							<div class="col-lg-12" style="margin-bottom:100px">
								<div class="col-md-12" style="padding-top: 20px">
									<div id="monitoring">
										<h3><b>Delivery Charges <a href="adminDeliveryEdit"<button type="button" class="btn btn-link">Edit</button></b></h3></a>
										<hr>
										<table class="table table-condensed">
											<thead>
												<tr id="listhead">
													<th>Delivery Area</th>
													<th>Initial Charge</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>Afghanistan</td>
													<td>Php 1500.00</td>
												</tr>
												<tr>
													<td>Albania</td>
													<td>Php 5000.00</td>
												</tr>
												<tr>
													<td>Algeria</td>
													<td>Php 2000.00</td>
												</tr>
												<tr>
													<td>Andorra</td>
													<td>Php 1000.00</td>
												</tr>
												<tr>
													<td>Angola</td>
													<td>Php 3000.00</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
			<!-- /.row -->

		</div>
		<!-- /.container-fluid -->

	<!-- jQuery -->
	<script src="~/js/jquery.js"></script>

	<script type="text/javascript">
		jQuery(function ($) {
			$(document).ready(function () {
				$('.status').hide();
				$('#processing').show();
				$('#status').change(function () {
					$('.status').hide();
					$('#' + $(this).val()).show();
				})
			});
		});

	</script>
	<!-- Bootstrap Core JavaScript -->
	<script src="~/js/bootstrap.min.js"></script>
</body>