/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) { ... }

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) { ... }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) { ... }

.header {
    background-image: url(res/header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 9999;
}

.text {
    padding-left: 5%;
    font-size: 24px;
}

.termsconditions-box{
	background-color: #dcdfe1;
	width: 100%;
	padding: 16px;
}


