.cont {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.title{
    font-size: 15px;
    font-family: Lato, sans-serif;
}

.logo {
    width: 55px;
    height: 55px;
    display: inline;
    padding: 0px;
}
.label-error{
  color: red;
  font-size: 12px;
  margin-bottom: -10px;
}
.label-category{
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  text-align: left;
}

label{
    text-align: left;
}

legend{
    background-color: #00703c;
    color: white;
    text-align: center;
}

.edit-button{
	float: right;
	margin-right: auto;
	border: 0;
	background: none;
	box-shadow:none;
	border-radius: 0px;	
}

.delete-button{
	float: right; 
	border: 0;
	background: none;
	box-shadow:none;
	border-radius: 0px;	
	padding-left: 5px;
}

.mailingInfo{
	background-color:rgb(242, 242, 242);
	align-content: center;
	text-align: center;
}

.header{
	background-color: rgb(117, 117, 117);
	text-align: left;
	padding-bottom: 3px;
}