.cont {
    margin-top: 10%;
    margin-bottom: 10%;
}

.oops {
    display: inline-block;
    font-size: 150px;
    text-align: center;
}

.text {
    font-size: 24px;
    text-align: center;
    width: 600px;
}

.back {
    display:block;
    margin-top: 15px;
}

.line-separator{
    height:1px;
    background:#717171;
    border-bottom:1px solid #bdbdbd;
    width: 420px;
}