body {
font-family : 'Lato', sans-serif;
background : #fff;
}
body p {
color : #666666;
font-family : "Lato", sans-serif;
font-size : 14px;
letter-spacing : 1px;
}
body h1, h2, h3, h4, h5, h6 {
color : #141414;
font-family : "Lato", sans-serif;
font-size : 18px;
text-transform : capitalize;
font-weight : 800;
}
a:hover {
text-decoration : none;
}

#loader-wrapper .logo {
left : 48.7%;
position : absolute;
top : 48%;
}
#loader-wrapper .logo a {
font-weight : 700;
color : #007849;
font-size : 12px;
}
.logo span {
color : #f85654;
}
#loader-wrapper {
position : fixed;
top : 0;
left : 0;
width : 100%;
height : 100%;
z-index : 999999;
background : #fff;
}
#loader {
display : block;
position : relative;
left : 50%;
top : 50%;
width : 150px;
height : 150px;
margin : -75px 0 0 -75px;
border-radius : 50%;
border : transparent solid 3px;
border-top-color : #007849;
animation : spin 2s linear infinite;
}
#loader:before {
content : "";
position : absolute;
top : 5px;
left : 5px;
right : 5px;
bottom : 5px;
border-radius : 50%;
border : transparent solid 3px;
border-top-color : #444;
animation : spin 3s linear infinite;
}
#loader:after {
content : "";
position : absolute;
top : 15px;
left : 15px;
right : 15px;
bottom : 15px;
border-radius : 50%;
border : transparent solid 3px;
border-top-color : #007849;
animation : spin 1.5s linear infinite;
}
@keyframes spin {
0% {
transform : rotate(0deg);
}
100% {
transform : rotate(360deg);
}
}
.title_sec {
margin : 0 auto;
padding : 0 0 25px 0;
text-align : center;
}
.title_sec h2 {
color : #606060;
font-size : 12px;
text-transform : uppercase;
letter-spacing : 1px;
}
.hover_effect_btn {
position : relative;
z-index : 1;
overflow : hidden;
margin : 0 15px;
}
.hover_effect_btn{
font-size : 12px;
font-family : lato;
background : none 0 0 repeat scroll #fff;
border : #666666 solid 1px;
border-radius : 6px;
color : #666666;
display : block;
padding : 15px 20px;
transition : transform 0.3s;
}
.hover_effect_btn::before {
background : none 0 0 repeat scroll #00AFF0;
color : #fff;
height : 100%;
left : 0;
padding : 15px 20px;
position : absolute;
top : 0;
transition : transform 1s 0s ease;
width : 100%;
z-index : -1;
font-size : 12px;
font-family : lato;
border : #666666 solid 1px;
border-radius : 6px;
}
.hover_effect_btn:hover span, .hover_effect_btn a:focus span {
    transition: all 1s ease 0s;
    -moz-transition: all 1s ease 0s;
    -webkit-transition: all 1s ease 0s;
transform : translateX(100%);
}
.hover_effect_btn:hover::before, .hover_effect_btn a:focus::before {
    transition: all 1s ease 0s;
    -moz-transition: all 1s ease 0s;
    -webkit-transition: all 1s ease 0s;
transform : translateX(0%);
}

.slider {
display : block;
text-align : center;
vertical-align : middle;
width : 100%;
}
#slider_sec {
background-image : url("../res/bg.png");
background-position : center center;
background-repeat : no-repeat;
background-size : 100% 100%;
height : 670px;
width : 100%;
}

.line-separator{
    height:1px;
    background:#717171;
    border-bottom:1px solid #C7C7C7;
}


.modalTxt {
    font-size: 13px;
}

.head {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}

.startBtn {
    margin-top: 15px;
    padding: 1% 1% 1% 1%;
    width: 150px;
    height: 50px;
    /*background-color: #1E392A;*/
    background-color: transparent;
    color: #616161;
    font-family: Lato;
    font-size: 14px;
    border: 2px solid #616161;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
}

.startBtn:hover {
    border: 2px solid #1b5e20;
}

.header1Text {
    margin-top: 20px;
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
    border-top : 1px solid #757575;
    border-bottom : 1px solid #757575;
    text-align: center;
    font-size: 24px;
    font-family: Raleway;
    color: #393D3F;
    text-transform: capitalize;
    font-weight : 500;
    padding-bottom: 2%;
}

#about_sec {
padding : 70px 0;
border-top : 1px solid #C7C7C7;
border-bottom : 1px solid #C7C7C7;
    background-color: #00703c ; 
    color: white;
}

#pr_sec {
padding : 70px 0;
border-top : 1px solid #C7C7C7;
border-bottom : 1px solid #C7C7C7;
}

@media (min-width: 992px) { 
    .center-align {
        display: flex;
        align-items: center;
        justify-content: center; 
    }
}

.service {
transition: all 1s ease 0s;
-moz-transition: all 1s ease 0s;
-webkit-transition: all 1s ease 0s;
border :1px solid #eeeeee;
cursor:auto;
text-align : center;
padding : 61px 0;
}

.service:hover {
   transition: all 1s ease 0s;
    -moz-transition: all 1s ease 0s;
    -webkit-transition: all 1s ease 0s;border :1px solid #007849;
}

.service > h2 {
color : #515050;
font-size : 14px;
font-weight : 400;
text-transform : uppercase;
}

.service i {
font-size : 50px;
color : #515050;
position : relative;
}

#tm_sec {
padding : 70px 0;
border-bottom : 1px solid #C7C7C7;
}
.sngl_team h3 {
font-size : 14px;
text-transform : uppercase;
color : #333333;
}
.sngl_team {
text-align : center;
width : 100%;
}
.owl-item .sngl_team img {
margin : 0 auto;
text-align : center;
width : 130px;
}
.sngl_team span {
color : #A9A9A9;
font-family : lato;
font-size : 13px;
margin-left : 10px;
text-transform : uppercase;
}
.all_team .owl-controls .owl-dot {
background-color : #363636;
border : none medium;
border-radius : 5px;
cursor : pointer;
display : inline-block;
height : 6px;
text-indent : 0;
width : 25px;
margin-right : 5px;
}
.all_team .owl-controls .owl-dot.active {
background-color : #007849;
}
.all_team .owl-controls {
display : inline-block;
width : 100%;
text-align : center;
}

#ctn_sec {
padding : 70px 0;
}
.cnt_info ul {
margin : 0;
padding : 0;
border-top : 1px solid #C7C7C7;
border-bottom : 1px solid #C7C7C7;
padding-top : 10px;
padding-bottom : 10px;
}
.cnt_info ul li {
    text-align: center;
list-style : none outside none;
padding : 15px 0;
}
.cnt_info ul li i {
color : #818181;
float : left;
margin-top : 5px;
}
.cnt_info p {
padding-left : 30px;
}

.ft ul {
margin : 0;
padding : 0;
text-align : center;
}
.ft ul li {
list-style : none outside none;
padding-right : 10px;
display : inline;
}
.ft ul li a {
border : white solid 1px;
border-radius : 50px;
display : inline-block;
margin : 0 auto;
padding : 7px 11px;
text-align : center;
}
.ft ul li a i {
color : white;
font-size : 15px;
transition: all 1s ease 0s;
-moz-transition: all 1s ease 0s;
-webkit-transition: all 1s ease 0s
}
.ft ul li a i:hover {
color : white;transition: all 1s ease 0s;
-moz-transition: all 1s ease 0s;
-webkit-transition: all 1s ease 0s
}
.ft ul li .fa-facebook {
padding : 3px;
    color: white;
}

#ft_sec {
padding : 70px 0;
    background-color: #00703c;
}
.copy_right {
margin : 0;
padding : 0;
}
.copy_right li {
font-size : 14px;
font-weight : 600;
list-style : none outside none;
padding : 2px;
text-align : center;
color : white;
text-transform : uppercase;
}
.copy_right {
margin : 0;
padding : 0;
margin-top : 18px;
}

.show_hide {
color : #3399FF;
margin-left : 15px;
}

.sidebar h2 {
color : #333333;
font-size : 14px;
text-transform : uppercase;
margin-top : 30px;
}
.sidebar ul {
margin : 0;
padding : 0;
}
.sidebar ul li {
border-bottom : 1px solid #e2e2e2;
list-style : none outside none;
padding : 15px 0;
}
.sidebar ul li a {
color : #666666;
font-size : 14px;
text-transform : capitalize;transition: all 1s ease 0s;
-moz-transition: all 1s ease 0s;
-webkit-transition: all 1s ease 0s
}
.sidebar ul li a:hover{transition: all 1s ease 0s;
-moz-transition: all 1s ease 0s;
-webkit-transition: all 1s ease 0s;color:#00AFF0}